@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');

body {
    font-family: 'Fredoka', cursive;
    background-color: #041562;
}

#seleccionar-mascota{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100%;
    align-items: center;
}

.title {
    color: white;
    font-size: 32px;
    }

.subtitle {
    color: white;
    font-size: 20px;
}

.tarjetas {
    display: flex;
    gap: 10px;
}

.tarjeta-de-mokepon{
    width: 180px;
    height: 100px;
    background: #11468F;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    display: flex;
    color: white;
}

.tarjeta-de-mokepon img {
    width: 80px;
}

label {
    background-color: tomato;
    width: 280px;
    height: 50px;
}

button {
    background-color: white;
    width: 60px;
    height: 20px;
}

.tarjetas, .tarjetas-ataques {
    display: flex;
    gap: 10px;
}

.input-button {
    width: 180px;
    height: 40px;
    border-radius: 20px;
    background: transparent;
    border: solid white;
    color: white;
    margin-top: 30px;
}

input {
    display: none;
}

input:checked + label {
    background-color: red;
}

#seleccionar-ataque {
    flex-direction: column;
    align-items: center;
}

.boton-de-ataque {
    background-color: #11468F;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 10px;
    width: 100px;
    color: white;
    font-family: 'Fredoka', cursive;
    height: 80px;
    margin: 20px;
}

#mensajes {
    width: 280px;
    background: #EEEEEE;
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#boton-reiniciar {
    border: none;
    color: #11468F;
    font-family: 'Fredoka', cursive;
}

.ataques {
    display: grid;
    grid-template-columns: 100px 100px;
    color: white;
}

.ataques-jugador .ataques-enemigo {
    display: flex;
    flex-direction: column;
    align-items: center;
}


@media (max-width: 360px) {
    .tarjetas, .tarjetas-ataques {
        flex-direction: column;
    }
}
